.wrapper {
  background-color: rgb(4, 30, 122);
  height: 120px;
  position: fixed;
  width: 100%;
  top: 0px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  z-index: 999;
  transition: 0.3s;
}

.placeholder {
  height: 120px;
}

.content {
  margin: 0 4rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  max-width: 1100px;
  transition: 0.3s;
}

.content nav {
  transition: 0.3s;
  display: flex;
  align-items: center;
}

.content nav a {
  font-size: 2.4rem;
  text-transform: uppercase;
  font-weight: 700;
  color: var(--color-secondary);
  padding: 1rem;
  margin: 0 0.7rem;
  transition: 0.3s;
}

.content a:hover {
  color: var(--color-white);
}

.foco {
  color: var(--color-white-transparent) !important;
}

.image {
  width: 160px;
  height: 160px;
  overflow: visible;
  z-index: 3;
  transition: transform 0.3s ease-out;
  /* transform: scale(2, 2); */
  transform: scale(1, 1);
  transform-origin: top;
}

.collapsed {
  width: 80px;
  height: 80px;

  transition: transform 0.3s ease-out;
  /* transform: scale(1, 1); */
  transform: scale(0.5, 0.5);
  transform-origin: top;
}

.rateria {
  margin: -3rem 0 0 3rem;
  font-size: 6rem;
  color: var(--color-white);

  transition: 0.3s;
  /* transition: cubic-bezier(0.6, 0.04, 0.98, 0.335) 0.3s; */
  /* visibility: hidden; */
}

.rateriaCollapsed {
  margin: -8.5rem 0 0 -2rem;

  /* transition: 0.3s; */
  font-size: 4rem;
  /* color: var(--color-white); */
  /* transform-origin: top; */
}

.logoAndText {
  display: flex;
  align-items: center;
}

.mobileContent {
  display: none;
}

.rateriaMobile {
  font-size: 4rem;
  color: var(--color-white);
  padding: 1rem;
  margin: 0 2rem;
  transition: 0.3s;
}

.mobileLogoAndText {
  display: flex;
  align-items: center;
}

@media (max-width: 880px) {
  .content {
    display: none;
  }

  .wrapper,
  .placeholder {
    height: 80px !important;
  }

  .mobileContent {
    width: 100%;
    height: 100%;

    margin: 0 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
