.mainContent {
  background-color: var(--color-white);
  min-height: calc(100vh - 130px);
  margin-top: 1rem;

  display: flex;
  justify-content: center;

  padding-bottom: 80px;
}

.mainContent article {
  max-width: 1100px;

  margin: 0 2.5rem;
}

.mainContent h1 {
  font-family: Montserrat, sans-serif;
  font-size: 6.4rem;
  margin-top: 0;
  margin-bottom: 4rem;
  padding-top: 3rem;
  position: relative;
}

.mainContent h2 {
  font-family: Montserrat, sans-serif;
  font-size: 3.2rem;
  margin-top: 0;
  padding-top: 2rem;

  position: relative;

  width: 100%;
}

.mainContent h3 {
  font-family: Montserrat, sans-serif;
  font-style: italic;
  font-size: 2.4rem;
  font-weight: 500;
  margin-top: 0;
  padding-top: 1rem;

  position: relative;

  width: 100%;
}

.mainContent h1 span {
  font-size: 1.6rem;
  font-weight: 500;
}

.mainContent img {
  padding: 2rem;
  margin-left: -2rem;
}

.mainContent p {
  line-height: 150%;
  text-align: justify;
  text-indent: 2rem;
  justify-content: center;
}

.mainContent h1::after,
.mainContent h2::after {
  content: " ";
  display: block;
  position: absolute;
  bottom: -16px;
  left: 0;
  width: 10%;
  background-color: var(--color-primary);
  border: 2px solid var(--color-primary);
}

.mainContent h2::after {
  width: 10%;
  bottom: -10px;
  border: 2px solid var(--color-primary);
}

.mainContent p,
.mainContent li {
  font-family: Montserrat, sans-serif;
  font-size: 1.6rem;
  width: 100%;
}

.mainContent img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.mainContent a {
  text-decoration: underline;
  color: #179ae6;
  text-transform: none;
  font-family: Montserrat, sans-serif;
}

.cardsContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  width: 240px;
  height: fit-content;

  margin: 1.6rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card h3 {
  text-align: center;
  font-style: normal;

  font-size: 2rem;

  margin-bottom: 0;
}

.card p {
  margin-top: 0.8rem;
  text-align: center;
  text-indent: 0;

  font-size: 1.4rem;

  color: #141414;
}

.card img {
  border-radius: 0.8rem;
  border-width: 3px;
  border-style: solid;
  border-color: var(--color-primary);
  border-bottom-left-radius: 0;
  border-top-right-radius: 0;

  margin: 1.6rem;
  margin-bottom: 8px;
  padding: 0;
  height: 20rem;
  width: 15rem;
}

.badges {
  display: flex;
  height: 20rem;
  margin-top: -20rem;
  margin-left: 0.4rem;
  flex-direction: column-reverse;
}

.badges img {
  border: none;
  margin: 0;
  margin-top: -0.4rem;
  height: 4rem;
  width: 4rem;

  position: relative;
}

.badges img::before {
  content: attr(tooltipText);
}

.badge {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */

  position: relative;
  cursor: pointer;

  width: 4rem;
}

.tooltip {
  position: absolute;

  white-space: nowrap;

  z-index: 3;
  top: 0px;
  font-size: 10px;
  line-height: 20px;

  padding: 8px;
  border-radius: 16px;
  background-color: var(--color-bg);
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);

  opacity: 0;
  pointer-events: none;
  transition: ease-in-out 0.2s;
}

.badge:hover .tooltip {
  opacity: 1;
  pointer-events: auto;

  top: -50px;
}

.tooltip::before {
  position: absolute;
  content: "";
  height: 12px;
  width: 12px;
  background: var(--color-bg);
  bottom: -3px;
  left: 20px;
  transform: translateX(-50%) rotate(45deg);
}

@media (max-width: 375px) {
  .card {
    width: 105px !important;
  }
  .card img {
    height: 15rem !important;
    width: 11rem !important;
  }
}

@media (max-width: 870px) {
  .card {
    width: 130px;
  }

  .card img {
    height: 17rem;
    width: 12rem;
  }

  .badges img {
    height: 3.5rem !important;
    width: 3.5rem !important;
  }
}
