.mainContent {
  background-color: var(--color-white);
  min-height: calc(100vh - 130px);
  margin-top: 1rem;

  display: flex;
  align-items: center;

  flex-direction: column;

  padding-bottom: 80px;
}

.mainContent article {
  max-width: 1100px;

  margin: 0 2.5rem;

  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.mainContent h1 {
  font-family: Montserrat, sans-serif;
  font-size: 7.2rem;
  width: 100%;
  text-align: center;

  margin-top: 0;
  margin-bottom: 1rem;
  padding-top: 3rem;
  position: relative;
}

.mainContent h2 {
  font-family: Montserrat, sans-serif;
  font-size: 3.2rem;
  margin-top: 0;
  padding-top: 2rem;

  position: relative;

  width: 100%;
}

.mainContent h3 {
  font-family: Montserrat, sans-serif;
  font-style: italic;
  font-size: 2.4rem;
  font-weight: 500;
  margin-top: 0;
  padding-top: 1rem;

  position: relative;

  width: 100%;
}

.mainContent h1 span {
  font-size: 1.6rem;
  font-weight: 500;
}

.mainContent img {
  padding: 2rem;
  margin-left: -2rem;
}

.mainContent p {
  line-height: 150%;
  text-align: center;
  text-indent: 2rem;
  justify-content: center;
}

.mainContent h1::after,
.mainContent h2::after {
  content: " ";
  display: block;
  position: absolute;
  bottom: -8px;
  left: calc(50% - 50px);
  width: 100px;
  background-color: var(--color-primary);
  border: 2px solid var(--color-primary);
}

.mainContent h2::after {
  width: 10%;
  bottom: -10px;
  border: 2px solid var(--color-primary);
}

.mainContent p,
.mainContent li {
  font-family: Montserrat, sans-serif;
  font-size: 1.6rem;
  width: 100%;
}

.mainContent img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.mainContent a {
  text-decoration: underline;
  color: #179ae6;
  text-transform: none;
  font-family: Montserrat, sans-serif;
}

.cardsContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  width: 240px;
  height: fit-content;

  margin: 1.6rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card h3 {
  text-align: center;
  font-style: normal;

  font-size: 2rem;

  margin-bottom: 0;
}

.card p {
  margin-top: 0.8rem;
  text-align: center;
  text-indent: 0;

  font-size: 1.4rem;

  color: #141414;
}

.card img {
  border-radius: 0.8rem;
  border-style: solid;
  border-color: var(--color-primary);
  border-bottom-left-radius: 0;
  border-top-right-radius: 0;

  margin: 1.6rem;
  margin-bottom: 8px;
  padding: 0;
  height: 20rem;
  width: 15rem;
}

.badges {
  display: flex;
  height: 20rem;
  margin-top: -20rem;
  margin-left: 0.4rem;
  flex-direction: column-reverse;
}

.badgesRight {
  align-items: flex-end !important;
}

.badges img {
  border: none;
  margin: 0;
  margin-top: -0.4rem;
  height: 4rem;
  width: 4rem;

  position: relative;
}

.badges img::before {
  content: attr(tooltipText);
}

.badge {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */

  position: relative;
  cursor: pointer;

  width: 4rem;
}

.tooltip {
  position: absolute;

  white-space: nowrap;

  z-index: 3;
  top: 0px;
  font-size: 10px;
  line-height: 20px;

  padding: 8px;
  border-radius: 16px;
  background-color: var(--color-bg);
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);

  opacity: 0;
  pointer-events: none;
  transition: ease-in-out 0.2s;
}

.badge:hover .tooltip {
  opacity: 1;
  pointer-events: auto;

  top: -50px;
}

.tooltip::before {
  position: absolute;
  content: "";
  height: 12px;
  width: 12px;
  background: var(--color-bg);
  bottom: -3px;
  left: 15px;
  transform: translateX(-50%) rotate(45deg);
}
.badgesRight .tooltip {
  right: 0;
}

.badgesRight .tooltip::before {
  left: auto;
  right: 9px;
}

@media (max-width: 375px) {
  .card {
    width: 105px !important;
  }
  .card img {
    height: 15rem !important;
    width: 11rem !important;
  }
}

@media (max-width: 870px) {
  .card {
    width: 130px;
  }

  .card img {
    height: 17rem;
    width: 12rem;
  }

  .badges img {
    height: 3.5rem !important;
    width: 3.5rem !important;
  }
}

.searchBarMobile {
  justify-content: center;

  margin: 32px 0 32px;

  margin-bottom: -1rem;
}

.filtersMobile {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  margin: 3rem 5rem 0;
}

@media (max-width: 500px) {
  .filtersMobile {
    grid-template-columns: repeat(2, 1fr);
  }

  .searchBarMobile input {
    width: 300px !important;
    background: url("../../public/search.svg") 260px center / 18px no-repeat
      var(--color-white) !important;
  }
}

.filtersMobile label {
  margin-right: 16px;
  line-height: 20px;
  font-size: 1.2rem;
  width: 130px;
}

.searchBarMobile input {
  width: 400px;

  outline: none;
  height: 40px;

  border-radius: 16px;
  border-color: var(--color-primary);
  border-width: 2px;
  border-style: solid;

  padding: 0 40px 0 16px;

  font-family: Montserrat;
  font-size: 1.4rem;

  background: url("../../public/search.svg") 360px center / 18px no-repeat
    var(--color-white);
}

.searchBarMobile input:focus {
  -webkit-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.32);
  -moz-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.32);
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.32);
}

.searchBarMobile input::placeholder {
  font-family: Montserrat;
  font-size: 1.4rem;
}

/* The container */
.checkBoxContainer {
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 8px;
  cursor: pointer;
  font-size: 1.6rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.checkBoxContainer input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.checkBoxContainer:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.checkBoxContainer input:checked ~ .checkmark {
  background-color: var(--color-primary);
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkBoxContainer input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkBoxContainer .checkmark:after {
  left: 7px;
  top: 3px;
  width: 4px;
  height: 9px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
