.mainContent {
	background-color: var(--color-white);
	min-height: calc(100vh - 130px);
	margin-top: 1rem;

	display: flex;
	justify-content: center;

	padding-bottom: 80px;
}

.mainContent article {
	width: 600px;
	margin: 0 2.5rem;
}

.mainContent h1 {
	font-family: Montserrat, sans-serif;
	font-size: 4rem;
	margin-top: 0;
	margin-bottom: 4rem;
	padding-top: 3rem;
	position: relative;
}

.mainContent h2 {
	font-family: Montserrat, sans-serif;
	font-size: 3.2rem;
	margin-top: 0;
	padding-top: 2rem;

	position: relative;

	width: 100%;
}

.mainContent h3 {
	font-family: Montserrat, sans-serif;
	font-style: italic;
	font-size: 2.4rem;
	font-weight: 500;
	margin-top: 0;
	padding-top: 1rem;

	position: relative;

	width: 100%;
}

.mainContent h1 span {
	font-size: 1.6rem;
	font-weight: 500;
}

.mainContent img {
	padding: 2rem;
	margin-left: -2rem;
}

.mainContent p {
	line-height: 150%;
	text-align: justify;
	text-indent: 2rem;
	justify-content: center;
}

.mainContent h1::after,
.mainContent h2::after {
	content: ' ';
	display: block;
	position: absolute;
	bottom: -16px;
	left: 0;
	width: 20%;
	background-color: var(--color-primary);
	border: 2px solid var(--color-primary);
}

.mainContent h2::after {
	width: 10%;
	bottom: -10px;
	border: 2px solid var(--color-primary);
}

.mainContent p,
.mainContent li {
	font-family: Montserrat, sans-serif;
	font-size: 1.6rem;
	width: 100%;
}

.mainContent img {
	width: 100%;
	height: 400px;
	object-fit: cover;
}

.dangerousDiv {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.mainContent a {
	text-decoration: underline;
	color: #179ae6;
	text-transform: none;
	font-family: Montserrat, sans-serif;
}

@media (max-width: 880px) {
	.mainContent {
		margin-top: 0;
		padding-top: 0;
		min-height: calc(100vh - 80px);
	}
}

.card {
	margin-top: 32px;
}

.card a {
	font-size: 2.8rem;
	color: #0a56ad;
	text-decoration: none;
}

.card h3 {
	font-size: 1.4rem;
	color: #8f8f8f;
	margin-top: -0.5rem;
}

@media (max-width: 768px) {
	.mainContent img {
		height: 200px;
	}
}

.arrows {
	display: flex;
	justify-content: space-between;
	width: 100%;
	margin-top: 2rem;
}

.arrows a {
	width: fit-content;
	text-decoration: none !important;
	font-size: 2rem;
}

.arrows a:nth-child(2) {
	padding-left: 2rem;
	text-align: right;
}

.hidden {
	visibility: hidden;
}

.back {
	display: flex;
	justify-content: center;
}

.back a {
	margin-top: 2rem;
	height: 48px;
	width: 160px;
	border-radius: 8px;
	border-width: 2px;
	border-color: var(--color-primary);
	border-style: solid;
	background-color: var(--color-primary);
	font-size: 1.6rem;
	color: var(--color-white);
	text-decoration: none;

	text-align: center;
	line-height: 44px;
}
