@import "./scrollbar.css";

:root {
  font-size: 62.5%;

  --color-bg: #ffebb7;
  --color-bg-light: #fff5da;

  --color-primary: #041e7a;
  --color-primary-light: #8fbadb;
  --color-primary-light-hover: #94b2c9;

  --color-secondary: #ffc90b;

  --color-black: #000000;
  --color-white: #ffffff;
  --color-white-transparent: #ffffffaa;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Montserrat, sans-serif;
}

html {
  overflow-y: scroll;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (max-width: 768px) {
  :root {
    font-size: 60%;
  }
}

@media (max-width: 425px) {
  :root {
    font-size: 57%;
  }
}
