.mainContent {
  background-color: var(--color-white);
  min-height: calc(100vh - 130px);
  margin-top: 1rem;

  display: flex;
  justify-content: center;

  padding-bottom: 80px;
}

.mainContent article {
  width: 600px;
  margin: 0 2.5rem;
}

.mainContent h1 {
  font-family: Montserrat, sans-serif;
  font-size: 3.2rem;
  margin-top: 4rem;

  position: relative;
  margin-bottom: 4rem;

  width: 100%;
}

.mainContent h2 {
  font-family: Montserrat, sans-serif;
  font-size: 3.2rem;
  margin-top: 4rem;
  margin-bottom: 4rem;

  position: relative;

  width: 100%;
}

.mainContent h3 {
  font-family: Montserrat, sans-serif;
  font-size: 2.4rem;
  font-weight: 500;
  padding-top: 0.5rem;

  position: relative;

  line-height: 20px;

  width: 100%;
}

.mainContent h1 span {
  font-size: 1.6rem;
}

.mainContent img {
  padding: 2rem;
}

.mainContent h1::after,
.mainContent h2::after {
  content: " ";
  display: block;
  position: absolute;
  bottom: -16px;
  left: 0;
  width: 30%;
  background-color: var(--color-primary);
  border: 3px solid var(--color-primary);

  transition: cubic-bezier(0.86, 0, 0.07, 1) 0.5s;
  transform-origin: left;
}

.mainContent h2::after {
  width: 10%;
  bottom: -10px;
  border: 2px solid var(--color-primary);
}

.editionHeader {
  text-decoration: none !important;
  display: inline;
}

.editionHeader h2 {
  color: var(--color-black);
  transition: ease 0.5s;

  white-space: pre-line;
}

.editionHeader h2 span {
  font-family: Montserrat;
  font-size: 3.4rem;
  margin-top: -1rem;
}

.editionHeader:hover h2 {
  color: #2659a7;
}

.editionHeader:hover > h2::after {
  /* width: 200px; */
  border-color: #2659a7;
  background: #2659a7;
  transform: scaleX(3);
}

.mainContent p {
  font-family: Montserrat, sans-serif;
  font-size: 1.6rem;
  width: 100%;
}

.arrowRight {
  border: solid var(--color-black);
  border-width: 0 4px 4px 0;
  display: inline-block;
  padding: 6px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  margin-left: 0.5rem;
  margin-bottom: 0.25rem;
  transition: ease 0.5s;
}

.editionHeader:hover > h2 > i {
  border-color: #2659a7;
}

.mainContent img {
  max-width: 100%;
  max-height: 400px;
  object-fit: cover;
}

.dangerousDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mainContent a {
  text-decoration: underline;
  color: #179ae6;
  text-transform: none;
  font-family: Montserrat, sans-serif;
}

@media (max-width: 880px) {
  .mainContent {
    margin-top: 0;
    padding-top: 0;
    min-height: calc(100vh - 80px);
  }
}

.card {
  margin-top: 2.4rem;
  padding-left: 2.4rem;
}

.card a {
  font-size: 2.6rem;
  color: #0a56ad;
  text-decoration: none;
  width: 100%;
}

.card h3 {
  font-size: 1.4rem;
  color: #8f8f8f;
  margin-top: 0;
  margin-bottom: 0;
  width: 100%;
}

.card h3 span {
  font-size: 1.6rem;
  color: black;
}

.back {
  height: 100px;
  text-decoration: none !important;
  font-size: 2rem;
}

.searchBar {
  width: 100%;
  display: flex;
  justify-content: center;

  margin: 32px 0 32px;

  margin-bottom: -1rem;
}

.searchBar input {
  width: 400px;

  outline: none;
  height: 40px;

  border-radius: 16px;
  border-color: var(--color-primary);
  border-width: 2px;
  border-style: solid;

  padding: 0 40px 0 16px;

  font-family: Montserrat;
  font-size: 1.4rem;

  background: url("../public/search.svg") 360px center / 18px no-repeat
    var(--color-white);
}

.searchBar input:focus {
  -webkit-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.32);
  -moz-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.32);
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.32);
}

.searchBar input::placeholder {
  font-family: Montserrat;
  font-size: 1.4rem;
}

@media (max-width: 550px) {
  .searchBar input {
    width: 100%;
    background: url("../public/search.svg") calc(100% - 20px) center / 18px
      no-repeat var(--color-white);
  }
}
