.mainContent {
  background-color: var(--color-white);
  min-height: calc(100vh - 130px);
  margin-top: 1rem;

  display: flex;
  justify-content: center;

  padding-bottom: 80px;
}

.mainContent article {
  width: 600px;
  margin: 0 5rem;
}

.mainContent h1 {
  font-family: Montserrat, sans-serif;
  font-size: 4rem;
  margin-top: 0;
  margin-bottom: 4rem;
  padding-top: 3rem;
  position: relative;
}

.mainContent h2 {
  font-family: Montserrat, sans-serif;
  font-size: 3.2rem;
  margin-top: 0;
  padding-top: 2rem;

  position: relative;

  width: 100%;
}

.mainContent h3 {
  font-family: Montserrat, sans-serif;
  font-size: 2.4rem;
  font-weight: 500;
  padding-top: 0.5rem;

  position: relative;

  line-height: 22px;

  width: 100%;
}

.mainContent h1 span {
  font-size: 1.6rem;
}

.mainContent img {
  padding: 2rem;
}

.mainContent h1::after,
.mainContent h2::after {
  content: " ";
  display: block;
  position: absolute;
  bottom: -16px;
  left: 0;
  width: 20%;
  border: 3px solid var(--color-primary);
}

.mainContent h2::after {
  width: 10%;
  bottom: -10px;
  border: 2px solid var(--color-primary);
}

.mainContent p {
  font-family: Montserrat, sans-serif;
  font-size: 1.6rem;
  width: 100%;
}

.mainContent img {
  max-width: 100%;
  max-height: 400px;
  object-fit: cover;
}

.dangerousDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mainContent a {
  text-decoration: underline;
  color: #179ae6;
  text-transform: none;
  font-family: Montserrat, sans-serif;
}

@media (max-width: 880px) {
  .mainContent {
    margin-top: 0;
    padding-top: 0;
    min-height: calc(100vh - 80px);
  }
}

.card {
  margin-top: 2.4rem;
}

.card a {
  font-size: 2.6rem;
  color: #0a56ad;
  text-decoration: none;
  width: 100%;
}

.card h3 {
  font-size: 1.4rem;
  color: #8f8f8f;
  margin-top: 0;
  margin-bottom: 0;
  width: 100%;
}

.card h3 span {
  font-size: 1.6rem;
  color: black;
}

.back {
  height: 100px;
  text-decoration: none !important;
  font-size: 2rem;
}

.searchBar {
  width: 100%;
  display: flex;
  justify-content: center;

  margin: 32px 0 32px;
}

.searchBar input {
  width: 400px;

  outline: none;
  height: 40px;

  border-radius: 16px;
  border-color: var(--color-primary);
  border-width: 2px;
  border-style: solid;

  padding: 0 40px 0 16px;

  font-family: Montserrat;
  font-size: 1.4rem;

  background: url("../public/search.svg") 360px center / 18px no-repeat
    var(--color-white);
}

.searchBar input:focus {
  -webkit-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.32);
  -moz-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.32);
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.32);
}

.searchBar input::placeholder {
  font-family: Montserrat;
  font-size: 1.4rem;
}
