.mainContent {
  background-color: var(--color-white);
  min-height: calc(100vh - 130px);
  margin-top: 1rem;

  display: flex;
  align-items: center;

  flex-direction: column;

  padding-bottom: 80px;
}

.mainContent article {
  max-width: 600px;
  min-width: 400px;
  margin: 0 2.5rem;
}

.mainContent article h2:first {
  margin-top: 0;
}

.mainContent h1 {
  font-family: Montserrat, sans-serif;
  font-size: 3.2rem;
  margin-top: 4rem;

  position: relative;
  margin-bottom: 4rem;

  width: 100%;
}

.mainContent h2 {
  font-family: Montserrat, sans-serif;
  font-size: 3.2rem;
  margin-top: 4rem;
  margin-bottom: 4rem;

  position: relative;

  width: 100%;
}

.mainContent h3 {
  font-family: Montserrat, sans-serif;
  font-size: 2.4rem;
  font-weight: 500;
  padding-top: 0.5rem;

  position: relative;

  line-height: 20px;

  width: 100%;
}

.mainContent h1 span {
  font-size: 1.6rem;
}

.mainContent img {
  padding: 2rem;
}

.mainContent h1::after,
.mainContent h2::after {
  content: " ";
  display: block;
  position: absolute;
  bottom: -16px;
  left: 0;
  width: 30%;
  background-color: var(--color-primary);
  border: 3px solid var(--color-primary);

  transition: cubic-bezier(0.86, 0, 0.07, 1) 0.5s;
  transform-origin: left;
}

.mainContent h2::after {
  width: 10%;
  bottom: -10px;
  border: 2px solid var(--color-primary);
}

.editionHeader {
  text-decoration: none !important;
  display: inline;
}

.editionHeader h2 {
  color: var(--color-black);
  transition: ease 0.5s;

  white-space: pre-line;
}

.editionHeader h2 span {
  font-family: Montserrat;
  font-size: 3.4rem;
  margin-top: -1rem;
}

.editionHeader:hover h2 {
  color: #2659a7;
}

.editionHeader:hover > h2::after {
  /* width: 200px; */
  border-color: #2659a7;
  background: #2659a7;
  transform: scaleX(3);
}

.mainContent p {
  font-family: Montserrat, sans-serif;
  font-size: 1.6rem;
  width: 100%;
}

.arrowRight {
  border: solid var(--color-black);
  border-width: 0 4px 4px 0;
  display: inline-block;
  padding: 6px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  margin-left: 0.5rem;
  margin-bottom: 0.25rem;
  transition: ease 0.5s;
}

.editionHeader:hover > h2 > .arrowRight {
  margin-left: 1.5rem;
}

.editionHeader:hover > h2 > i {
  border-color: #2659a7;
}

.mainContent img {
  max-width: 100%;
  max-height: 400px;
  object-fit: cover;
}

.content {
  display: flex;
}

.mainContent a {
  text-decoration: underline;
  color: #179ae6;
  text-transform: none;
  font-family: Montserrat, sans-serif;
}

@media (max-width: 880px) {
  .mainContent {
    margin-top: 0;
    padding-top: 0;
    min-height: calc(100vh - 80px);
  }
}

.card {
  margin-top: 2.4rem;
  padding-left: 2.4rem;
}

.card a {
  font-size: 2.6rem;
  color: #0a56ad;
  text-decoration: none;
  width: 100%;
}

.card h3 {
  font-size: 1.4rem;
  color: #8f8f8f;
  margin-top: 0;
  margin-bottom: 0;
  width: 100%;
}

.card h3 span {
  font-size: 1.6rem;
  color: black;
}

.back {
  height: 100px;
  text-decoration: none !important;
  font-size: 2rem;
}

.searchBarMobile {
  width: 80%;
  display: none;
  justify-content: center;

  margin: 32px 0 32px;

  margin-bottom: -1rem;
}

.filtersMobile {
  display: none;
  justify-content: space-between;

  margin: 3rem 5rem 0;

  flex-wrap: wrap;
}

.filtersMobile label {
  margin-right: 16px;
}

.searchBar input {
  width: 300px !important;
  background: url("../public/search.svg") 260px center / 18px no-repeat
    var(--color-white) !important;
}

.searchBarMobile input,
.searchBar input {
  width: 400px;

  outline: none;
  height: 40px;

  border-radius: 16px;
  border-color: var(--color-primary);
  border-width: 2px;
  border-style: solid;

  padding: 0 40px 0 16px;

  font-family: Montserrat;
  font-size: 1.4rem;

  background: url("../public/search.svg") 360px center / 18px no-repeat
    var(--color-white);
}

.searchBarMobile input:focus,
.searchBar input:focus {
  -webkit-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.32);
  -moz-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.32);
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.32);
}

.searchBarMobile input::placeholder,
.searchBar input::placeholder {
  font-family: Montserrat;
  font-size: 1.4rem;
}

.separator {
  margin-top: 5rem;
  margin-left: 7.5rem;

  width: 3px;
  height: 340px;
  background-color: rgb(153, 153, 153);

  position: sticky;
  top: 130px;
  transform-origin: top;
  transform: scale(0.7);
}

.sideOptions {
  height: 200px;
  margin-top: 5rem;
  margin-left: 2rem;

  position: sticky;
  top: 150px;

  transform-origin: top left;
  transform: scale(0.7);
}

.sideOptions h3 {
  margin-top: 3rem;

  font-size: 2rem;
}

@media (min-width: 768px) {
}

@media (max-width: 1024px) {
  .separator {
    margin-left: 0;
  }
}

@media (max-width: 768px) {
  .searchBarMobile,
  .filtersMobile {
    display: flex;
  }

  .separator,
  .sideOptions {
    display: none;
  }

  .mainContent article:first-child h2 {
    margin-top: 2rem;
  }

  .mainContent article {
    min-width: 0;
  }
}

@media (max-width: 550px) {
  .searchBarMobile input,
  .searchBar input {
    width: 100%;
    background: url("../public/search.svg") calc(100% - 20px) center / 18px
      no-repeat var(--color-white);
  }
}

/* Checkbox style */

/* The container */
.checkBoxContainer {
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 16px;
  cursor: pointer;
  font-size: 1.6rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.checkBoxContainer input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.checkBoxContainer:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.checkBoxContainer input:checked ~ .checkmark {
  background-color: var(--color-primary);
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkBoxContainer input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkBoxContainer .checkmark:after {
  left: 7px;
  top: 3px;
  width: 4px;
  height: 9px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.socialIcon {
  transition: 0.1s;
}

.socialIcon:hover {
  transform: scale(1.1);
}
